 body { 
    background-image: url("../Images/gas_station.jpg");
}

.card-img {
    width: 250px;
    height: 250;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    vertical-align: middle;
    border: none;

}

.card-text {
    position: relative;
    color: orange;
    text-emphasis: 

}

.card {
    display: inline-block;
}

.logo {
    padding: 20px;
    margin-left: 30%;
    margin-bottom: 100px;

}

