body {
    background-image: url("../Images/street_03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container-2 {
    background-color: white;
    margin: 20px 200px 200px 200px;
    padding: 25px;
    
    
}

.logo {
    padding: 20px;
    margin-left: 30%;
    margin-bottom: 100px;
    
}