body {
    background-image: url("../Images/street_03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container-2 {
    background-color: white;
    margin: 200px;
    padding: 25px;
    
    
}